/* setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid yellow; */
}

:root {
  --dark: #242D3B;
  --black: black;
  --yellow-light: #F0DEBF;
  --pink-light: #BA7F8B;
  --red-light: #864040;
  --red-dark: #50282E; 
  --off-white: #f5f5f5;
  --gray: #f6f6f7;
  --dark-gray: #cecfce;

  /*fontsize*/
  --font-sm: 0.8rem;
  --font-md: 1.2rem;
  --font-lg: 2rem;
  --font-xl: 3rem;
}

html,
body {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gray);
}

h1 {
  font-size: calc(0.5rem + 8vmin);
  font-weight: 600;
}

a, a:visited, a:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button, .hero--button {
  padding: 1rem;
  font-size: var(--font-md);
  background-color: var(--off-white);
  border: 1px solid var(--dark);
  border-radius: 8px;
  text-decoration: none;
  font: inherit;
  box-shadow: -5px 9px 16px -7px rgba(0, 0, 0, 0.75);
}

.container {
  padding: 2vw 8vw;
  width: 100%;
}

/* navigation */

#navbar {
  background-color: var(--black);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 10vw;
  height: 10vh;
}

.navbar--menu ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

/* hero section */

.hero {
	height: 90vh;
	background-image: url("../imgs/hero_bg.jpg");
  background-size: cover;
}

.hero--box {
  width: 40%;
  padding: 5rem;
  margin: 0 15vw;
  height: 100%;
}

.hero--title, .hero--info {
  color: var(--off-white);
}

.hero--title {
  white-space: nowrap;
  word-break: break-all;
  grid-area: title;
  line-height: 1;
  padding: 2rem 0;
  font-size: calc(0.5rem + 12vmin);
}

.hero--info {
	display: block;
	font-size: 1.6rem;
	font-weight: 300;
}

.hero--cta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero--button {
  margin-top: 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  width: 160px;
}

.button-buy {
  background-color: var(--black);
  border: 1px solid var(--off-white);
  color: var(--off-white) !important;
}

.button-buy:hover {
  color: var(--dark) !important;
}

.hero--button:hover {
  background: var(--dark-gray);
}

.hero--button__icon {
  padding-left: 0.25rem;
}


#detetives, #contos {
  padding: 2rem 0;
}

.detetives--title, 
.contos--title,
.autor--title,
.contato--title {
  font-size: var(--font-lg);
  text-align: center;
}

.detetives--body, .autor--body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-size: var(--font-md);
}

/* seção livro */
.detetives--body__image img {
  max-width: 500px;
}

.detetives--body__info {
  max-width: 600px;
}

/* seção contos */
.contos--body {
  padding-left: 4rem;
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  text-align: center;
}

.conto {
  padding: 2rem;
  margin: 1rem 0;
  max-width: 400px;
  border: 1px solid var(--red-dark);
}

/* seção autor */
#autor {
  background-color: var(--dark-gray);
  padding: 3rem 0;
  width: 100%;
  margin: 1rem 0;
}

.autor--body {
  margin: 1.5rem 0;
}

.autor--body__info,
.autor--body__image img {
  max-width: 400px;
}

/* seção contato */
.contato--body {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.contato--body__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

input, textarea {
  font-size: 1.1rem;
  width: 35vw;
  border-radius: 1rem;
  border-style: solid;
  border-color: var(--dark);
  border-width: 2px;
  padding: 0.75rem 1.25rem;
}

textarea {
  height: 15vh;
}

.contato--body__submit button {
  padding: 1rem 2rem;
  font-size: var(--font-md);
}

/* footer */

footer {
  background-color: var(--dark);
  color: var(--off-white);
  font-size: var(--font-md);
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: 6vh;
}


/* responsive */
@media (max-width: 1328px) {
  .hero {
    height: 120vh;
  }

  .hero--box {
    width: 60%;
    padding: 4rem;
    margin: 0 10vw;
  }

  .hero--info {
    font-size: 1.3rem;
  }
}