/* setup */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid yellow; */
}

:root {
  --dark: #242D3B;
  --black: black;
  --yellow-light: #F0DEBF;
  --pink-light: #BA7F8B;
  --red-light: #864040;
  --red-dark: #50282E; 
  --off-white: #f5f5f5;
  --gray: #f6f6f7;
  --dark-gray: #dfdfdf;

  /*fontsize*/
  --font-sm: 0.8rem;
  --font-md-mobile: 1.1rem;
  --font-md: 1.2rem;
  --font-lg: 2rem;
  --font-xl: 3rem;
}

html,
body {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--gray);
}

h1 {
  font-size: calc(0.5rem + 8vmin);
  font-weight: 600;
}

a, a:visited, a:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button, .btn, .hero--button {
  padding: 1rem;
  font-size: var(--font-md);
  background-color: var(--off-white);
  border: 1px solid var(--dark);
  border-radius: 8px;
  text-decoration: none;
  font: inherit;
  box-shadow: -5px 9px 16px -7px rgba(0, 0, 0, 0.75);
}

.container {
  padding: 2vw 8vw;
  width: 100%;
}

/* navigation */

#navbar {
  background-color: var(--black);
  color: var(--off-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 10vw;
  height: 10vh;
}

.navbar--menu ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

/* hero section */

.hero {
	height: 100vh;
	background-image: url("../imgs/hero_bg.jpg");
  background-size: cover;
}

.hero--box {
  width: 40%;
  padding: 5rem;
  margin: 0 15vw;
  height: 100%;
}

.hero--title, .hero--info {
  color: var(--off-white);
}

.hero--title {
  white-space: nowrap;
  word-break: break-all;
  grid-area: title;
  line-height: 1;
  padding: 2rem 0;
  font-size: calc(0.5rem + 12vmin);
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 0.35rem;
  text-transform: uppercase;
}

.hero--info {
	display: block;
	font-size: 1.6rem;
	font-weight: 300;
}

.hero--cta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero--button {
  margin-top: 1.5rem;
  border: none;
  display: flex;
  justify-content: center;
  width: 160px;
}

.button-buy {
  background-color: var(--black);
  border: 1px solid var(--off-white);
  color: var(--off-white) !important;
}

.button-buy:hover {
  color: var(--dark) !important;
}

.hero--button:hover, .btn:hover {
  background: var(--dark-gray);
}

.hero--button__icon {
  padding-left: 0.25rem;
}


#detetives, #contos {
  padding: 2rem 0;
}

.detetives--title, 
.contos--title,
.autor--title,
.contato--title {
  font-size: var(--font-lg);
  text-align: center;
}

.detetives--body, .autor--body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-size: var(--font-md);
}

/* seção livro */
.detetives--body__image img {
  max-width: 500px;
}

.detetives--body__info {
  max-width: 600px;
}

.detetives--body__button {
  display: block;
  width: 55%;
  padding: 1.5rem;
  text-align: center;
  margin: 2.75rem auto 0;
}

/* seção contos */
.contos--body {
  padding-left: 4rem;
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  text-align: center;
}

.conto {
  margin: 1rem 0;
  max-width: 500px;
  min-height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 350px 450px;
  background-position: center center;
  background-repeat: no-repeat;
}

.conto--bg-01 {
  background-image: url('../imgs//contos-bg-01.png');
}

.conto--bg-02 {
  background-image: url('../imgs//contos-bg-02.png');
}

.conto--bg-03 {
  background-image: url('../imgs//contos-bg-03.png');
}

.conto--bg-04 {
  background-image: url('../imgs//contos-bg-04.png');
}


.conto--info {
  max-width: 250px;
}

.contos--action {
  display: flex;
  justify-content: center;
}

.contos--action__button {
  background-color: var(--black);
  color: var(--off-white) !important;
  width: 20%;
  padding: 1.5rem;
  font-size: var(--font-md);
}

.contos--action__button:hover {
  color: var(--dark) !important;
}

/* seção autor */
#autor {
  background-color: var(--dark-gray);
  padding: 3rem 0;
  width: 100%;
  margin: 1rem 0;
}

.autor--body {
  margin: 1.5rem 0;
}

.autor--body__info {
  max-width: 500px;
}

.autor--body__image img {
  max-width: 400px;
}

/* seção contato */
.contato--body {
  margin: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.contato--body__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

input, textarea {
  font-size: 1.1rem;
  width: 35vw;
  border-radius: 1rem;
  border-style: solid;
  border-color: var(--dark);
  border-width: 2px;
  padding: 0.75rem 1.25rem;
}

textarea {
  height: 15vh;
}

.contato--body__submit button {
  padding: 1rem 2rem;
  font-size: var(--font-md);
}

/* footer */

footer {
  background-color: var(--dark);
  color: var(--off-white);
  font-size: var(--font-md);
  display: flex;
  justify-content: center;
  padding: 1rem;
  min-height: 6vh;
}


/* responsive */
@media (max-width: 1328px) {
  .hero {
    height: 120vh;
  }

  .hero--box {
    width: 60%;
    padding: 4rem;
    margin: 0 10vw;
  }

  .hero--info {
    font-size: 1.3rem;
  }
}

/* responsiveness */

@media screen and (max-width: 768px) {
  /* navbar responsive */
  #navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* hero responsive */
  .hero {
    height: 80vh;
  }

  .hero--box {
    width: 100%;
    padding: 3rem;
    margin: 0;
  }

  .hero--title {
    margin-top: 1rem;
    font-size: calc(0.5rem + 18vmin);;
  }

  .hero--info {
    font-size: var(--font-md-mobile);
  }


  .hero--cta {
    flex-direction: column;
    gap: 0.5rem;
    margin: 1.5rem 0;
    justify-content: center;
    align-items: center;
  }

  .hero--button {
    width: 225px;
    margin-top: 1rem;
  }

  /* detetives responsive */
  .detetives--body, .autor--body {
    font-size: var(--font-md-mobile);
  }

  .detetives--body {
    flex-direction: column;
    gap: 1rem;
  }

  .detetives--body__button {
    width: 250px;
    margin: 1.75rem auto 1rem;
    padding: 1.1rem;
    font-size: var(--font-md-mobile);
  }

  /* contos section responsive */
  .contos--body {
    display: flex;
    flex-direction: column;
    margin: 0.25rem 0;
    gap: 0.5rem;
    padding: 0;
  }

  .conto {
    min-height: 320px;
  }

  /* autor section responsive */
  #autor {
    padding: 1.75rem;
  }

  .autor--body {
    flex-direction: column;
  }

  /* form responsive */
  .contato--body {
    margin: 0.75rem 0.25rem 1rem;
    gap: 1.75rem;
  }

  .contato--body__form {
    gap: 1.25rem;
  }

  input, textarea {
    width: 90vw;
  }
}